EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:3300/api/v1
EXPO_PUBLIC_OPENAPI_PATH=./docs/api/openapi.json
EXPO_PUBLIC_AUTH_REFRESH_SKEW_SECONDS=60
EXPO_PUBLIC_ENABLE_DEVTOOLS=true
